<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Starcima</string>
    <key>CFBundleIdentifier</key>
    <string>com.starcima.app</string>
    
    <!-- 1. تغيير اسم التطبيق الذي يظهر تحت الأيقونة في الشاشة الرئيسية -->
    <key>CFBundleName</key>
    <string>TV azawy</string>
    <key>CFBundleDisplayName</key>
    <string>TV azawy</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <!-- 2. ربط ملف أيقونة التطبيق -->
    <key>CFBundleIconFiles</key>
    <array>
        <string>AppIcon.png</string>
    </array>

    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>

    <key>UILaunchScreen</key>
    <dict/>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
